#toc-container {
	padding: 9px 12px;
	/* max-height: 300px; */
}

#toc-container ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#toc-container li {
	padding: 1px 0px;
	cursor: pointer;
}

.paper-content-container h1 {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 0px;
    /* text-transform: uppercase; */
}

.footer {
    /* TODO: determine what this was originally supposed to look like */
    position: relative;
    bottom:70px;
}

.modal {
    cursor: default;
}

.annotation_pager {
    margin-right: 20px;
    margin-left: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.annotation-preview {
    cursor: default;
    margin-bottom: 13px;
}

.logo {
    display: inline-block;
    background: url("img/logoRLC.png") !important;
    width: 231px !important;
    height: 55px !important;
}

