.logo {
    display: inline-block;
    background: url("img/logoRLC.png") !important;
    width: 231px !important;
    height: 55px !important;
}

#toc-container {
	padding: 9px 12px;
	/* max-height: 300px; */
}

#toc-container ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#toc-container li {
	padding: 1px 0px;
	cursor: pointer;
}

.document-container, .summary-container {
    padding: 3px 10px;
    background-color: #ffffff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 20px;
}
.summary-container {
    border: 1px solid #ccc;
}

.paper-content-container h1 {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 0px;
    /* text-transform: uppercase; */
}

.footer {
    /* TODO: determine what this was originally supposed to look like */
    position: relative;
    bottom:70px;
}

.profile-menu li {
    margin-bottom: 10px;
}
.profile-menu li:last-of-type {
    margin-bottom: 0;
}

.popover h3 {
    font-size: 20px;
    line-height: 20px;
    background: #ebebeb;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}
.popover.bottom.has-header .arrow:after {
    border-bottom-color: #ebebeb;
}
.popover.alerts {
    height: 350px;
}
.popover.alerts .popover-content {
    height: 84%;
    padding-right: 15px;
    overflow-y: auto;
}

.annotation_pager {
    margin-right: 20px;
    margin-left: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.annotation-preview {
    cursor: pointer;
    position: absolute;
    right: -355px;
    top: 0;
    width: 65%;
}
.marker-container {
    min-height: 80px;
}
.marker-container:empty {
    min-height: 0;
    height: 0;
}
.marker-container .stack-marker {
    position: absolute;
    width: 100%;
}
.annotation-preview .stack-marker:nth-child(2) {
    top: 10px;
}
.annotation-preview .stack-marker:nth-child(3) {
    top: 20px;
}
.annotation-preview .stack-marker:nth-child(4) {
    top: 30px;
}
.marker-container:hover .stack-marker {
    position: static;
}
.allow-annotation .annotation-preview .add-annotation {
    display: none;
}
.allow-annotation:hover .annotation-preview .add-annotation,
.allow-annotation .annotation-preview:hover .add-annotation {
    display: block;
}
.add-annotation .annotation-content {
    width: auto;
}
.annotation-pointer {
    display: inline-block;
    width: 0;
    border: 15px solid transparent;
    border-top-width: 20px;
    border-bottom-width: 20px;
}
.annotation-pointer.pointer-left {
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.annotation-content {
    display: inline-block;
    position: relative;
    left: -4px;
    top: -14px;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 15px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    width: 70%;
}
.annotation-content,
.annotation-content a {
    color: #fff;
}
.annotation-content a + span.pull-right {
    font-weight: 400;
}

.stack-marker:hover .annotation-pointer,
.add-annotation:hover .annotation-pointer {
    border-right-color: #00adee;
}
.stack-marker:hover .annotation-content,
.add-annotation:hover .annotation-content {
    background-color: #00adee;
}

.compose-reply-inline {
    margin-bottom: 10px;
}

.compose-reply-inline .reply-buttons, .compose-buttons {
    margin-top: 5px;
}

.head-news-comment {
    margin-bottom: 10px;
}

.reply-comment {
    margin-bottom: 3px;
}

.reply-comment-inline {
    border: 1px solid #303030;
    padding: 3px;
    background-color: #d0d0d0;
}

/**
 * Color definitions.
*/
.bg-blue1 {
    background-color: #0069A0;
}
.border-blue1 {
    border-color: #0069A0;
}
.text-blue1 {
    color: #0069A0;
}
.bg-blue2,
.openq-header {
    background-color: #018bba;
}
.border-blue2 {
    border-color: #018bba;
}
.text-blue2 {
    color: #018bba;
}
.bg-red1,
.proprev-header {
    background-color: #dc3c26;
}
.border-red1 {
    border-color: #dc3c26;
}
.text-red1 {
    color: #dc3c26;
}
.bg-green1 {
    background-color: #8DBA4D;
}
.border-green1 {
    border-color: #8DBA4D;
}
.text-green1 {
    color: #8DBA4D;
}
/**
 * END of color definitions.
*/

.annotation-context {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 7px;
}

.annotation-comment-author {
    text-transform: uppercase;
}

/*.modal-title .profile-name {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}*/

#member-name{
    font-size: 1.2em;
    display: block;
}

.member-details{
    font-size: 0.9em;
    display: block;
}

/*.modal-title .profile-title,
.modal-title .profile-institution,
.modal-title .profile-dept {
    font-size: 0.45em;
    display: block;
}*/

/* this inline taken from bootstrap.css */
.inline-radio ul {
    margin-left: 0;
    list-style: none;
}

.inline-radio ul > li,
.inline-radio ol.inline > li {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

.inline-radio ul > li input,
.inline-radio ol.inline > li input {
    margin-top: -2px;
    height: auto;
}

.profile-header span {
    font-size: 0.7em;
    text-transform: capitalize;
    line-height: 25px;
}
/*.member-profile,
.profile-header {
    display:-moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display:inline;
    width: 265px;
}*/

.document-summary,
.member-summary,
.profile-summary {
    background-color: #f4f4f4;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.member-summary {
    margin-bottom: 20px;
    margin-top: 15px;
}
.profile-summary {
    background-color: #E7EEF1;
    border: none;
    color: #006697;
    margin-top: 15px;
}

.member-summary ul,
.profile-summary ul,
.document-summary ul {
    background-color: transparent;
    padding: 0;
    padding-left: 0;
    margin: 0;
}
.profile-summary ul {
    padding: 5px 0;
}

.document-summary ul li,
.member-summary ul li {
    border-right: 1px solid #ccc;
    width: 28%;
    height: 6em;
    line-height: 1.2em;
    vertical-align: top;
    text-align: center;
    padding: 5px;
}
.document-summary ul li {
    cursor: default;
}

.profile-summary ul li {
    padding: 0 10px;
}
.profile-summary ul li + li {
    border-left: 1px solid #000;
}

.member-summary ul li {
    width: 22%;
}

.modal-header .profile-summary {
    font-size: 0.5em;
}

.document-summary ul li:last-child,
.member-summary ul li:last-child,
.profile-summary ul li:last-child {
    border-right: none;
}

.document-summary ul li h2,
.member-summary ul li h2,
.profile-summary ul li h2 {
    margin: 0;
}

/*.member-summary-item,
.profile-summary-item {
    width: 4.7em;
    height: 4.5em;
    font-size: 0.7em;
    line-height: 1.2em;
    vertical-align: top;
    text-align: center;
    padding: 5px;
    border-left: 1px solid #000;
    margin: 0;
}

.member-summary-item {
    font-size: 1.3em;
}

.member-summary-item:first-child,
.profile-summary-item:first-child {
    border-left: 0;
}

.member-summary-counter,
.profile-summary-counter {
    line-height: 1.2em;
    font-size: 2.0em;
    font-weight: bold;
    font-style: italic;
    display: block;
}*/

.document-summary-counter,
.profile-summary-counter {
    font-size: 2.5em;
}

/*#profile-details li,
#profile-details p {
    font-size: 0.9em;
}

#profile-details p {
    margin-bottom: 0em;
}

#profile-details label,
#profile-details input {
    font-size: 1em;
    line-height: 1em;
}

#profile-details label {
    text-transform: uppercase;
}

#member-list,
#profile-conversations ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}*/

.member-list-item,
.profile-conv-item {
    padding-top: 1em;
    border-top : 2px dashed #ccc;
}

.member-list-item:first-child,
.profile-conv-item:first-child {
    padding-top: 0;
    border-top: 0;
}

.email-preference-group {
    list-style-type: none;
    padding: 0 0 1em 0;
    margin: 0px;
}

.email-preference-group li {
    padding-left: 2em;
}

.email-preference-group li:first-child {
    padding-left: 0;
    font-weight: bold;
}

#profile-update-form div {
    display:-moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display:inline;
    vertical-align: top;
    padding-right: 2em;
}

#profile-update-form-buttons {
    display: block;
    float: right;
    margin-bottom: 1em;
}

#profile-details .errorlist {
    margin: 0;
    list-style-type: none;
    color: red;
}

ul.news-listing {
    list-style-type: none;
    margin-left: 0;
}

ul.news-listing h1 {
    font-size: 1.6em;
    line-height: 1.6em;
    margin-bottom: 0px;
}

ul.news-listing .news-tags {
    margin-bottom: 3px;
}

/* notification classes */
.notification-content {
    width: 200px;
}

/**
 * Modal window classes
*/
.modal {
    cursor: default;
}
.modal.fade.in {
    top: 0;
    left: 37%;
    width: 50%;
    height: auto;
}

.modal-dialog {
    height: 100%;
}
.modal-dialog .modal-body {
    max-height: none;
}

.modal .btn-group {
    padding: 5px 0;
}

.modal .modal-header h3 {
    font-weight: 600;
    margin-top: 5px;
}

.modal .btn-group a.btn {
    font-size: 20px;
}

.modal .btn-group > span {
    position: relative;
    margin-left: -1px;
    display: inline-block;
    height: 30px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    padding: 4px 12px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}

.modal .proprev-header,
.modal .openq-header {
    color: #fff;
}

.modal .modal-header.my-profile-modal-header {
    background-color: #fff;
    border-bottom: none;
}

.modal .modal-header.my-profile-modal-header h3 {
    line-height: 20px;
}

/**
 * END of modal window classes
*/

/**
 * Media queruies
*/
@media (max-width: 1199px) {
    .modal.fade.in {
        width: 54%;
    }

    .section-header {
        font-size: 1.2em;
    }

    .document-summary ul li,
    .profile-summary ul li {
        width: 27%;
        font-size: 0.8em;
    }
    .profile-summary ul li {
        width: 21.63%;
    }
    
    .annotation-preview {
        width: 59%;
        right: -257px;
    }

    .annotation-content {
        font-size: 1em;
        top: -15px;
    }
}
