<div class="annotation-preview">
<div class="marker-container relative">{% if note_count > 0 %}
    <div class="stack-marker annotation-modal-activate" url="{% url 'annotations_in_block' doc_id=doc.id block_id=block_id atype='note' %}">
        <div class="annotation-pointer pointer-left border-blue1"></div>
        <div class="annotation-content bg-blue1 clearfix">
            {{ note_count }} Note{{ note_count|pluralize }}
            <span class="all-caps pull-right"><small>Last: <!--TODO Date template data goes here.-->Jul 10, 2013</small></span>
        </div>
    </div>    
{% endif %}{% if openq_count > 0 %}
    <div class="stack-marker annotation-modal-activate" url="{% url 'annotations_in_block' doc_id=doc.id block_id=block_id atype='openq' %}">
        <div class="annotation-pointer pointer-left border-blue2"></div>
        <div class="annotation-content bg-blue2">
            {{ openq_count }} Open Question{{ openq_count|pluralize }}
        </div>
    </div>
{% endif %}{% if proprev_count > 0 %}
    <div class="stack-marker annotation-modal-activate" url="{% url 'annotations_in_block' doc_id=doc.id block_id=block_id atype='proprev' %}">
        <div class="annotation-pointer pointer-left border-red1"></div>
        <div class="annotation-content bg-red1">
            {{ proprev_count }} Proposed Revision{{ proprev_count|pluralize }}
        </div>
    </div>
{% endif %}{% if rev_count > 0 %}
    <div class="stack-marker annotation-modal-activate" url="{% url 'annotations_in_block' doc_id=doc.id block_id=block_id atype='rev' %}">
        <div class="annotation-pointer pointer-left border-green1"></div>
        <div class="annotation-content bg-green1">
            {{ rev_count }} Revision{{ rev_count|pluralize }}
        </div>
    </div>
{% endif %}</div>
    <div class="add-annotation" url="{{ compose_url }}">
        <div class="annotation-pointer pointer-left border-blue1"></div>
        <div class="annotation-content bg-blue1">
            <span aria-hidden="true" data-icon="&#xe01b;"></span>
        </div>
    </div>
</div>
