{% extends "modal.html" %}
{% block modal_title %}
    <h4 class="modal-title">
        {{ atype_name }}{{ num_annotations|pluralize}}
        {% if num_annotations > 1 %}
        <div class="pull-right annotation_pager">
            <a class="annotation-page" incr="-1" target_el="current_annotation">&lt;</a>
            <span id="current_annotation" num_annotations="{{ num_annotations }}" current_pos="{{ selected_annotation }}">
                {{ selected_annotation }}
            </span>
            of {{ num_annotations }}
            <a class="annotation-page" incr="1" target_el="current_annotation">&gt;</a>
        </div>
        {% endif %}
        {% if show_compose_button %}{# this can be moved here, but it's long #}
        <div class="pull-right">
            <button type="button" id="annotation-compose" url="{{ compose_url }}" class="btn">New Open Question</button>
        </div>
        {% endif %}
    </h4>
{% endblock %}
{% block modal_body %}
    {% if num_annotations == 0 %}
        <div>No Open Questions <br />(insert link here to create one)</div>
    {% endif %}
    <ul id="dummytab" class="nav nav-tabs" style="display: none">
    {% for a in annotations %}{# tabs #}
        <li class><a id="annotation-activate-{{ forloop.counter }}" href="#annotation-{{ forloop.counter }}">{{ forloop.counter }}</a></li>
    {% endfor %}
    </ul>
    <script language="javascript">
    $('#dummytab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
    </script>
    <div id="myTabContent" class="tab-content">
    <div>Open Question Context (if it exists)</div>
    {% for a in annotations %}
        {% if forloop.counter == selected_annotation %}
        <div class="tab-pane fade active in" id="annotation-{{forloop.counter}}">
        {% else %}
        <div class="tab-pane fade" id="annotation-{{forloop.counter}}">
        {% endif %}
        {% for comment in a.comments %}
            <div>
                <div style="margin-bottom: 3px; margin-left: {{ comment.level }}0px">
                    <div>{{ comment.text }}</div>
                    <div>{{ comment.model_object.user.first_name }}
                         {{ comment.model_object.user.last_name }}
                    | {{ comment.timestamp | date }}</div>
                    <div>rating |
                    {% if comment.level == 0 %}
                        {% if a.reply_count == 1 %}
                            One Reply |
                        {% elif a.reply_count > 1 %}
                            {{ a.reply_count }} Replies |
                        {% endif %}
                    {% endif %}
                    {% if reply_url_name == "annotation_reply" %}
                    <a class="annotation-reply" reply_url="{% url reply_url_name doc_id=doc.id atype=atype annotation_id=a.model_object.id comment_id=comment.model_object.id %}">
                    {% else %}
                    {# reply_url_name == "annotation_reply_in_block" #}
                    <a class="annotation-reply" reply_url="{% url reply_url_name doc_id=doc.id atype=atype annotation_id=a.model_object.id comment_id=comment.model_object.id block_id=block_id%}">
                    {% endif %}
                        Reply
                    </a>
                    | Follow | Share</div>
                    <hr />
                </div>
            </div>
        {% endfor %}{# comments #}
        </div>{# annotation pane #}
    {% endfor %}{# annotations #}
    </div>{# tabbed content #}
{% endblock %}
