<div id="annotation-summary-container" class="document-summary relative">
    <ul class="unstyled">
    {% if num_note > 0 %}
    <li class="document-summary-item text-blue1" onclick="annotation_init('{% url 'annotation_all' doc_id=doc.id atype='note' %}')">
        <h4 class="document-summary-counter"><em>{{ num_note }}</em></h4>
        <strong>Note{{ num_note|pluralize }}</strong>
    </li>
    {% endif %}
    {% if num_rev > 0 %}
    <li class="document-summary-item text-green1" onclick="annotation_init('{% url 'annotation_all' doc_id=doc.id atype='rev' %}')">
        <h4 class="document-summary-counter"><em>{{ num_rev }}</em></h4>
        <strong>Accepted Revision{{ num_rev|pluralize }}</strong>
    </li>
    {% endif %}
    {% if num_proprev > 0 %}
    <li class="document-summary-item text-red1" onclick="annotation_init('{% url 'annotation_all' doc_id=doc.id atype='proprev' %}')">
        <h4 class="document-summary-counter"><em>{{ num_proprev }}</em></h4>
        <strong>Proposed Revision{{ num_proprev|pluralize }}</strong>
    </li>
    {% endif %}
    {% if num_openq > 0 %}
    <li class="document-summary-item text-blue2" onclick="annotation_init('{% url 'annotation_all' doc_id=doc.id atype='openq' %}')">
        <h4 class="document-summary-counter"><em>{{ num_openq }}</em></h4>
        <strong>Open Question{{ num_openq|pluralize }}</strong>
    </li>
    {% endif %}
    </ul>
</div>
