<div id="annotation-summary-container" class="document-summary">
    <ul>
    <li class="document-summary-item">
        <span class="document-summary-counter">{{ num_note }}</span>
        Note{{ num_note|pluralize }}
    </li>
    <li class="document-summary-item">
        <span class="document-summary-counter">{{ num_proprev }}</span>
        Proposed Revision{{ num_proprev|pluralize }}
    </li>
    <li class="document-summary-item">
        <span class="document-summary-counter">{{ num_openq }}</span>
        Open Question{{ num_openq|pluralize }}
    </li>
    </ul>
</div>
