{% extends "modal.html" %}
{% block modal_title %}
    <h4 class="modal-title">Annotation Discussion</h4>
{% endblock %}
{% block modal_body %}
<h4 style="margin-top: 5px">Original Comment</h4>
<div> {{ original_comment.text }} </div>
<h4>Your Reply:</h4>
<form id="annotation-compose-form">
{% csrf_token %}
{% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
{% endfor %}

{% if form_type == "editor_reply" %}
    {{ form.approval.errors }}
    <div class="inline-radio">
    {{ form.approval }}
    </div>
{% endif %}

<div>
    {{ form.comment_text.errors }}
    {# {{ form.comment_text.label }} #}
    {{ form.comment_text }}
</div>

<div>
<button type="button" id="annotation-submit" action="{{form_action}}" class="btn">Submit</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
</form>
{% endblock %}
