{% extends "modal.html" %}
{% block modal_header %}

    {% if num_annotations > 1 %}{# pager #}
    <div class="btn-group pull-right annotation_pager">
        <a class="btn js-prev annotation-page" incr="-1" target_el="current_annotation" aria-hidden="true" data-icon="&#xe01d;"></a>
        <span>
            <span id="current_annotation" num_annotations="{{ num_annotations }}" current_pos="{{ selected_annotation }}">
                {{ selected_annotation }}
            </span>
            | {{ num_annotations }}
        </span>
        <a class="btn js-next annotation-page" incr="1" target_el="current_annotation" aria-hidden="true" data-icon="&#xe019;"></a>
    </div>
    {% endif %}{# num_annotations > 1 (pager) #}

    {% if show_compose_button %}
    <div class="pull-right">
        <button type="button" id="annotation-compose" url="{% url 'annotation_compose' doc_id=doc.id atype='openq' %}" class="btn">New Open Question</button>
    </div>
    {% endif %}{# show_compose_button #}

    <h3 class="modal-title all-caps">
        <em>{{ atype_name }}{{ num_annotations|pluralize}}</em>
    </h3>

{% endblock %}{# modal_header #}
{% block modal_body %}
    {% if num_annotations == 0 %}
        <div>No Open Questions <br />(insert link here to create one)</div>
    {% endif %}
    <ul id="dummytab" class="nav nav-tabs" style="display: none">
    {% for a in annotations %}{# tabs #}
        <li class><a id="annotation-activate-{{ forloop.counter }}" href="#annotation-{{ forloop.counter }}">{{ forloop.counter }}</a></li>
    {% endfor %}
    </ul>
    <script language="javascript">
    $('#dummytab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
    </script>
    <div id="myTabContent" class="tab-content">
    {% for a in annotations %}
        {% if forloop.counter == selected_annotation %}
        <div class="tab-pane fade active in" id="annotation-{{forloop.counter}}">
        {% else %}
        <div class="tab-pane fade" id="annotation-{{forloop.counter}}">
        {% endif %}
        {% if a.model_object.doc_block != None %}
        <div class="annotation-context">
            {# TODO: move model_object stuff into annotation class #}
            <a block_id="{{ a.model_object.doc_block.tag_id }}">
                {{ a.model_object.doc_block.preview_text }}
            </a>
        </div>
        {% endif %}
        {% for comment in a.comments %}
            <div id="annotation-comment-{{ comment.model_object.id }}">
                <div class="reply-comment" style="margin-left: {{ comment.level }}0px">
                    <div class="annotation-comment-text">
                        {{ comment.text|safe }}
                    </div>
                    <div class="annotation-comment-author">
                        {{ comment.model_object.user.first_name }}
                        {{ comment.model_object.user.last_name }} |
                        {{ comment.timestamp | date }}
                    </div>
                    <div class="annotation-comment-actions">rating |
                    {% if comment.level == 0 %}
                        {% if a.reply_count == 1 %}
                            One Reply |
                        {% elif a.reply_count > 1 %}
                            {{ a.reply_count }} Replies |
                        {% endif %}
                    {% endif %}
                    {% if reply_url_name == "annotation_reply" %}
                    <a class="annotation-reply"
                       parent_id="annotation-comment-{{ comment.model_object.id }}"
                       reply_level="{{ comment.level }}"
                       reply_url="{% url reply_url_name doc_id=doc.id comment_id=comment.model_object.id %}">
                    {% else %}
                    {# reply_url_name == "annotation_reply_in_block" #}
                    <a class="annotation-reply"
                       parent_id="annotation-comment-{{ comment.model_object.id }}"
                       reply_level="{{ comment.level }}"
                       reply_url="{% url reply_url_name doc_id=doc.id comment_id=comment.model_object.id block_id=block_id%}">
                    {% endif %}
                        Reply
                    </a>
                    | Follow | Share</div>
                    <hr />
                </div>
            </div>
        {% endfor %}{# comment in a.comments #}
        </div>{# annotation pane #}
    {% endfor %}{# a in annotations #}
    </div>{# tabbed content #}
{% endblock %}{# modal_body #}
