<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
{% block header_media %}
<link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "base.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "er.css" %}" />
<script src="{% static "vendor/jquery-1.8.3.min.js" %}"></script>
<script src="{% static "vendor/bootstrap.js" %}"></script>
{{widget_media}}
{% endblock %}
</head>
<body>
{% block header %}
{% include "header.html" %}
{% endblock %}
{% block maincontent %}
    main content
{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}
</body>
</html>
