<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load staticfiles %}
{% block header_media %}
<link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "base.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "er.css" %}" />
<script src="{% static "vendor/jquery-1.8.3.min.js" %}"></script>
<script src="{% static "vendor/bootstrap.js" %}"></script>
{{widget_media}}
<script src="{% static "modal.js" %}"></script>
<script src="{% static "annotation.js" %}"></script>
{% endblock %}
<title>{{ doctitle }}</title>
</head>
<body>
<div id="main-wrapper">
{% block header %}
{% include "header.html" %}
{% endblock %}
{% block maincontent %}
   main content
{% endblock %}
</div>
{% block footer %}
{% include "footer.html" %}
{% endblock %}
</body>
</html>
