<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load staticfiles %}
{% block header_media %}
<!--[if lt IE 9]>
     <script src="{% static "ie8compat.js" %}" type="text/javascript"></script>
     <script src="{% static "css3-mediaqueries.js" %}" type="text/javascript"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap.css" %}" />
<link type="text/css" href="{% static "vendor/jscrollpane/jquery.jscrollpane.css" %}" rel="stylesheet" media="all" />
<link rel="stylesheet" type="text/css" href="{% static "base.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "er.css" %}" />
<script src="{% static "vendor/jquery-1.8.3.min.js" %}"></script>
<script src="{% static "vendor/bootstrap.js" %}"></script>
<script src="{% static "vendor/jscrollpane/jquery.mousewheel.js" %}"></script>
<script src="{% static "vendor/jscrollpane/jquery.jscrollpane.min.js" %}"></script>
<script src="{% static "doc.js" %}"></script>
<script src="{% static "modal.js" %}"></script>
<script src="{% static "popover.js" %}"></script>
<script src="{% static "annotation.js" %}"></script>
<script src="{% static "notification.js" %}"></script>
<script src="{% static "vendor/browserdetect.js" %}"></script>
{% if override_ckeditor == True %}
<script src="{% static "vendor/ckeditor/ckeditor.js" %}"></script>
{% else %}
{{widget_media|safe}}
{% endif %}
{% endblock %}
{% block head_extras %}{% endblock %}
<title>{{ doctitle }}</title>
</head>
<body>
<div id="main-wrapper">
{% block header %}
{% include "header.html" %}
{% endblock %}
{% block maincontent %}
   main content
{% endblock %}
</div>
{% block footer %}
{% include "footer.html" %}
{% endblock %}
{% block final_javascript %}{# the following actually needs to go into er.html #}
<script type="text/javascript">
        /* browser detection (and warnings) */
        if (BrowserDetect !== undefined) {
            BrowserDetect.init();
            var supported = true;
            var mybrowser = BrowserDetect.browser;
            if (BrowserDetect.browser === "Explorer") {
                if (BrowserDetect.version < 9) {
                    supported = false;
                    mybrowser = "Internet Explorer";
                }
            } else if (BrowserDetect.browser === "Firefox") {
                if (BrowserDetect.version < 4) {
                    supported = false;
                }
            }
            if (supported === false) {
                var message = "<p><b>Warning</b>: You're currently using <b>";
                message += mybrowser + ' ' + BrowserDetect.version;
                message += "</b>, an unsupported browser. ";
                message += "Site features may not correctly function.</p>";
                var recommend = "<p>We recommend <b>Chrome</b>, <b>Internet Explorer 9+</b>, <b>Firefox 4+</b>, or <b>Safari</b> for best results.</p>"
                $('.navbar-fixed-top').prepend('<div class="browser-warn">' + message + recommend + '</div>');
            }
        }
	var pane = $('#toc-container'),
		api;
	
	$(window).on('resize', function () {
		//Calculate and resize ToC height.
		var totalHeight = window.innerHeight,
            TOP_MARGIN = 143, //The distance from the ToC's header to the top of the window.
            availableHeight = (totalHeight - TOP_MARGIN) - 30,
            contentHeight = 0;

        pane.find('ul').each(function (index, el) {
            contentHeight = contentHeight + $(el).outerHeight();
        }.bind(this));
        if (availableHeight <= contentHeight) {
            pane.css({'height': availableHeight});
            if (!api) {
            	pane.jScrollPane();
				api = pane.data('jsp');
            } else {
            	//Reinitialize the scroll on the ToC.
				api.reinitialise();
            }
        } else {
            if (api) {
            	api.destroy();
            	api = null;
            }
            //We need to reset the DOM object as it gets replaced
            //after the plugin gets (re)initialised.
            pane = $('#toc-container');
            pane.css({'height': 'auto'});
        }
        //End height resize.
	});
	$(window).trigger('resize');

</script>
{% endblock %}
</body>
</html>
