{% extends "threecolumn.html" %}

{% block leftstyle %} style="position: fixed" {% endblock %}
{% block left-column %}
    <div style="position: fixed" class="span3 no-margin">
        <div class="section-header"> table of contents </div>
        <div id="toc-container" class="toc-container section-container">
            {% block table_of_contents %}
            TOC here
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block center-column %}
    <div class="section-header clearfix">
	Document
    </div>
    <div id="erdoc-container" class="section-container">
	{% block middlecontent %}
	    middle content
	{% endblock %}
    </div>
{% endblock %}

{% block right-column %}
    <div class="section-header clearfix">
	<span class="pull-left">annotations</span>
    </div>
    <div id="annotations-container" class="section-container">
	annotations here
    </div>
{% endblock %}
