{% extends "er-containers.html" %}
{% block head_extras %}
<script language="javascript">
$(document).ready(function() {
    annotation_preview_init('{% url 'annotation_previews' doc_id=doc.id %}');
    annotation_preview_refresh();
});
</script>
{% endblock %}
{% block table_of_contents %}
    <ul>
    {% for section in sections %}
    	<li><a href="#{{ section.tag_id }}">{{ section.header_text }}</a></li>
    {% endfor %}
	<li class="horizontal-separator"></li>
    	<li><a onclick="annotation_init('{% url 'annotation_all' doc_id=doc.id atype="openq" %}')">Open Questions</a></li>
    	<li><a href="#">News</a></li>
    	<li><a href="#">Figures and Tables</a></li>
    </ul>
{% endblock %}
{% block middlecontent %}
    <h1>{{ doc.title }}</h1>
    <div>Authors Here</div>
    <div>Last Revision: {{ doc.revision_date|date:"F j, Y" }} | <a href="#">Download</a></div>
    <div>Last Published: {{ doc.publication_date|date:"F j, Y" }} | <a href="{{ doc.publication_link }}">Download</a></div>

    {% if "Editor" in group_names %}
        <div>
	<a href="{% url 'doc_editor' doc_id=doc.id %}">edit</a>
        </div>
    {% endif %}
    <div>
	<a onclick="annotation_preview_refresh('{% url 'annotation_previews' doc_id=doc.id %}')">refresh annotations</a>
    </div>
    <div class="paper-content-container">
    {{ main_document | safe }}
    </div>
{% endblock %}

{% block right-column %}
    {% include "annotation_summary.html" %}
{% endblock %}
