{% extends "er-containers.html" %}
{% block head_extras %}
<script language="javascript">
$(document).ready(function() {
    annotation_preview_init('{% url 'annotation_previews' doc_id=doc.id %}');
    annotation_preview_refresh();
});
</script>
{% endblock %}
{% block table_of_contents %}
    <ul>
    {% for section in sections %}
    	<li><a href="#{{ section.tag_id }}">{{ section.header_text }}</a></li>
    {% endfor %}
	<li class="horizontal-separator"></li>
    	<li><a onclick="annotation_init('{% url 'annotation_all' doc_id=doc.id atype="openq" %}')">Open Questions</a></li>
        {% if tables.count > 0 %}
    	<li>{# Figures and #}Tables</li>
        {% for table in tables %}
            <li><a onclick="table_view_init('{% url 'table_modal' doc_id=doc.id block_id=table.tag_id %}')" class="toc-table" data-toggle="tooltip" data-placement="right" data-title="{{ table.caption_no_num }}">{# TODO: what about escapejs here? #}
                {{ table.label }}
            </a></li>
        {% endfor %}
        <script language="javascript">$('.toc-table').tooltip();</script>
        {% endif %}{# tables.count > 0 #}

	<li class="horizontal-separator"></li>

    	<li><a onclick="news_index_init('{% url 'news_index_modal' %}')">News</a></li>
    </ul>
{% endblock %}
{% block middlecontent %}
    <h1>{{ doc.title }}</h1>
    <div class="author-names">
    {% for author in authors %}
        <span class="author-name">{{ author.name }}</span>{% if not forloop.last %},{% endif %}
    {% endfor %}
    </div>
    <div>Last Revision: {{ doc.revision_date|date:"F j, Y" }} | <a href="#">Download</a></div>
    {% if last_published_info != None and last_published_info.is_published == True %}
        <div>Last Published: {{ last_published_info.publication_date|date:"F j, Y" }} | <a href="{{ last_published_info.link }}">Download</a></div>
    {% endif %}

    {% if "Editor" in group_names %}
        <div>
	<a href="{% url 'doc_editor' doc_id=doc.id %}">edit</a>
        </div>
    {% endif %}
    <div>
	<a onclick="annotation_preview_refresh('{% url 'annotation_previews' doc_id=doc.id %}')">refresh annotations</a>
    </div>
    <div class="paper-content-container">
    {{ main_document | safe }}
    </div>
{% endblock %}

{% block right-column %}
    {% include "annotation_summary.html" %}
{% endblock %}
