	<div class="footer">
		<div class="container">
			<div class="pull-left">
				<ul class="inline no-margin">
					<li><a href="http://www.cancercommons.org/our-mission/" target="special-window">Our Mission</a></li>
					<li class="separator">|</li>
					<li><a href="http://www.cancercommons.org/researchers-clinicians/" target="special-window">For Researchers &amp; Clinicians</a></li>
					<li class="separator">|</li>
					<li><a href="http://www.cancercommons.org/patients-caregivers/" target="special-window">For Patients</a></li>
				</ul>
				<ul class="inline">
					<li>&copy; 2013 Cancer Commons</li>
					<li class="separator">|</li>
					<li><a class="js-terms-of-consent" href="http://www.cancercommons.org/terms-of-use/" target="special-window">Terms of Consent</a></li>
					<li class="separator">|</li>
					<li><a href="http://www.cancercommons.org/website-privacy-policy/" target="special-window">Privacy Policy</a></li>
					<li class="separator">|</li>
					<li><a href="http://www.cancercommons.org/contact-us/" target="special-window">Contact</a></li>
					<li class="separator">|</li>
					<li>Help</li>
					<li class="separator">|</li>
					<li>Feedback</li>
				</ul>
			</div>
			<div class="pull-right">
				<p class="powered-by">
					<span class="logo-powered white"></span>
				</p>
			</div>
		</div>
	</div>
