<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
                    <!--<a class="btn" href="javascript:myprofile_init('{% url 'myprofile' %}');" data-original-title="" title="">profile</a>
                    <a class="btn" href="javascript:members_init('{% url 'all_members' %}');" data-original-title="" title="">members</a>-->
            <a class="brand visible-desktop" href="{% url 'root_index' %}">
                <span class="logo"></span>
                <span class="vertical-separator"></span>
                <h1>AMRF</h1>
            </a>
            <div class="user-controls visible-desktop pull-right">
                <div class="btn-group visible-desktop">
                    <a id="lnk-notifications" href="javascript:POPOVER.toggleNotifications();" class="btn" data-original-title="" data-url="{% url 'notification_json' %}" data-element="notification-content-container" title="">
                        <span aria-hidden="true" data-icon="&#xe047;"></span><span id="notifications-count"></span>
                    </a>
                    <a id="lnk-profile-menu" class="btn" href="javascript:POPOVER.toggleProfileMenu();" data-original-title="" title="" data-element="profile-menu-content">
                        <span aria-hidden="true" data-icon="&#xe040;"></span>
                    </a>

                    <div id="notification-content-container" class="hide">
                        <div class="notification-content">
                            <!-- TODO: maybe something fancier here -->
                            loading
                        </div>
                    </div>

                    <div id="profile-menu-content" class="hide">
                        <ul class="unstyled">
                            <li><a href="javascript:myprofile_init('{% url 'myprofile' %}')">My Profile</a></li>
                            <li class="horizontal-separator"></li>
                            <li><a href="javascript:members_init('{% url 'all_members' %}')">All Members</a></li>
                            <li class="horizontal-separator"></li>
                            <li><a href="{% url 'logout' %}">Sign out</a></li>
                        </ul>
                    </div>

                    <!--
                    <a class="btn" href="javascript:members_init('{% url 'all_members' %}');" data-original-title="" title="">
                        <span aria-hidden="true" data-icon="&#xe040;"></span>
                    </a>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript">
$(document).ready(function(){
    notification_icon_init('{% url 'notification_count_json' %}');
    notification_icon_refresh();
});
</script>
