<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
                    <a class="btn" href="javascript:myprofile_init('{% url 'myprofile' %}');" data-original-title="" title="">profile</a>
                    <a class="btn" href="javascript:members_init('{% url 'all_members' %}');" data-original-title="" title="">members</a>
            <a class="brand visible-desktop" href="{% url 'root_index' %}">
                <span class="logo"></span>
                <span class="vertical-separator"></span>
                <h1>AMRF</h1>
            </a>
            <div class="user-controls visible-desktop pull-right relative">
                <div class="btn-group visible-desktop">
                    <a href="#" class="btn" data-original-title="" title="">
                        <span aria-hidden="true" data-icon="&#xe047;"></span> 3
                    </a>
                    <a class="btn" href="javascript:myprofile_init('{% url 'myprofile' %}');" data-original-title="" title="">
                        <span aria-hidden="true" data-icon="&#xe040;"></span>
                    </a>
                    <!--
                    <a class="btn" href="javascript:members_init('{% url 'all_members' %}');" data-original-title="" title="">
                        <span aria-hidden="true" data-icon="&#xe040;"></span>
                    </a>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
