{# <div id="{{ modal_id }}" class="modal hide" tabindex="-1" role="dialog"> #}
<div class="modal-dialog">
    {% block modal_full_content %}
    <div class="modal-header clearfix {% block modal_header_classes %}{% endblock %}">

        <button type="button" class="close back" data-dismiss="modal"><span class="modal-back-icon"></span></button>
        <button type="button" class="close all" data-dismiss="modal"><span class="modal-close-icon"></span></button>
        {% block modal_header %}
            <h3 class="modal-title all-caps"><em>{% block modal_title %}{% endblock %}</em></h3>
            {% block modal_summary %}{% endblock %}
        {% endblock %}{# modal_header #}
        
    </div>
    <div class="modal-body">
        {% block modal_body %}
        Modal Body Here
        {% endblock %}
    </div>
    {% endblock %}
    {% comment %}
    <div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
    </div>
    {% endcomment %}
</div>
{# </div> #}
