<script language="javascript">
function annotation_init(doc_id, annotation_id) {
    var display = function(data, status, jqxhr) {
	var modal_html = data["body_html"];
	var modal_id = data["modal_id"];
	var remove = function(element) {
	    $("#" + modal_id).remove();
	}
	$('body').append(modal_html);
	var element = $("#" + modal_id);
	element.modal();
	var top = window.pageYOffset + 30;
	element.css('top', top);
	element.on('hidden', remove);
    }
    // TODO: make this dynamic from URL
    var url = '/er/{{ doc.id }}/annotation/openq/json';
    $.get(url, '', display, 'json');
}
</script>

