{% extends "modal.html" %}
{% block modal_header_classes %}my-profile-modal-header{% endblock %}
{% block modal_title %}
    <div class="modal-title">
        <div class="profile-header">
            <div class="profile-name">{{ user.first_name }} {{user.last_name }}</div>
            {% if profile.title %}<span class="profile-title">{{ profile.title }}</span>{% endif %}
            {% if profile.department %}<span class="profile-dept">{{ profile.department }}</span>{% endif %}
            {% if profile.institution %}<span class="profile-institution">{{ profile.institution }}</span>{% endif %}
            {% if not form_action %}
                {% if user.email %}<span class="profile-mailto"><a href="mailto:{{user.email}}">{{ user.email }}</a></span>{% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block modal_summary %}
    <div class="profile-summary">
        <ul class="inline">
        {% if num_note > 0 %}
        <li class="profile-summary-item"><strong>{{ num_note }}</strong> Note{{ num_note|pluralize }}</li>
        {% endif %}
        {% if num_proprev > 0 %}
        <li class="profile-summary-item"><strong>{{ num_proprev }}</strong> Proposed Revision{{ num_proprev|pluralize }}</li>
        {% endif %}
        {% if num_openq > 0 %}
        <li class="profile-summary-item"><strong>{{ num_openq }}</strong> Open Question{{ num_openq|pluralize }}</li>
        {% endif %}
        {% if num_comment > 0 %}
        <li class="profile-summary-item"><strong>{{ num_comment }}</strong> Comment{{ num_comment|pluralize }}</li>
        {% endif %}
        </ul>
    </div>
{% endblock %}
{% block modal_body %}
    <ul id="dummytab" class="nav nav-tabs"{% if not form_action %} style="display:none"{% endif %}>
    {% if form_action %}<li class="active"><a id="profile-tab-details" href="#profile-details"><strong>Details</strong></a></li>{% endif %}
    <li><a id="profile-tab-conversations" href="#profile-conversations"><strong>Conversations</strong></a></li>
    </ul>
    <script language="javascript">
    $('#dummytab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
    </script>
    <div id="myTabContent" class="tab-content">
        {% if form_action %}
        <div class="tab-pane fade active in" id="profile-details">

        {% if profile_form_mode == "success" %}
            <div class="form-ok alert alert-success fade"><i class="icon-ok"></i> Settings updated.</div>
            <script language="javascript">$('.form-ok').addClass("in");</script>
        {% endif %}

        <form id="profile-update-form">
        <div>
        {{ profile_form.as_p }}
        {% csrf_token %}
        </div>
        <div class="right">
            <p><label>Email Alerts</label></p>
            <ul class="email-preference-group">
                <li>{{ email_form.all_notifications }} All notifications</li>
            </ul>
            <ul class="email-preference-group">
                <li>{{ email_form.activity_all }} All activity on my annotations</li>
                <li><b>Activity on my:</b></li>
                <li>{{ email_form.activity_note }} Notes</li>
                <li>{{ email_form.activity_rev }} Revisions</li>
                <li>{{ email_form.activity_openq }} Open Questions</li>
                <li>{{ email_form.activity_comment }} Comments</li></li></li></li>
            </ul>
            <ul class="email-preference-group">
                <li>{{ email_form.er_all }} All activity on the Evidence Review</li>
                <li><b>Activity type:</b></li>
                <li>{{ email_form.er_revised }} Revision</li>
                <li>{{ email_form.er_updated }} Updated version</li>
                <li>{{ email_form.er_published }} Published version</li>
            </ul>
            {% comment %}
            <ul class="email-preference-group">
                <li>{{ email_form.new_members }} New members</li>
            </ul>
            {% endcomment %}
        </div>
        <div id="profile-update-form-buttons">
            <button type="button" id="profile-update-submit" action="{{ form_action }}" class="btn">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
        </form>
        </div>
        {% endif %}
        <div class="tab-pane {% if not form_action %}active in{% endif %} fade" id="profile-conversations">
            <ul class="unstyled">
            {% for item in items %}
                <li class="profile-conv-item" id="profile-conv-{{ item.id }}">
                    <p class="profile-conv-line1">{{ item.ctype|upper }} | {{ item.age|upper }}</p>
                    <p class="profile-conv-context">
                    {% if item.item_id %}
                        <a class="open-new-modal" href="javascript:news_comment_init('{{ item.url }}');">
                    {% else %}
                        <a class="open-new-modal" href="javascript:annotation_init('{{ item.url }}');">
                    {% endif %}
                    {{ item.context|striptags|truncatewords:20 }}
                    </a></p>
                    <p class="profile-conv-line3">
                        {% include "rating_control.html" with comment=item.comment user=calling_user %}
                        {% if item.comments %} |
                        <a class="open-new-modal" href="javascript:annotation_init('{{ item.url }}');">
                            {{ item.comments }} Comment{{ item.comments|pluralize }}
                        </a>
                        {% endif %}
                    </p>
                </li>
            {% empty %}
                <li class="profile-conv-empty">No {% if form_action %}conversations{% else %}contributions{% endif %}</li>
            {% endfor %}
            </ul>
        </div>
    </div>{# tabbed content #}
{% endblock %}
