{% extends "modal.html" %}
{% block modal_title %}
    <div class="modal-title">
        <div class="profile-header">
            <span class="profile-name">{{ user.first_name }} {{user.last_name }}</span>
            {% if profile.title %}<span class="profile-title">{{ profile.title }}</span>{% endif %}
            {% if profile.department %}<span class="profile-dept">{{ profile.department }}</span>{% endif %}
            {% if profile.institution %}<span class="profile-institution">{{ profile.institution }}</span>{% endif %}
        </div>
        <div class="profile-summary">
            <ul>
            <li class="profile-summary-item"><span class="profile-summary-counter">{{ num_note }}</span>Note{{ num_note|pluralize }}</li>
            <li class="profile-summary-item"><span class="profile-summary-counter">{{ num_proprev }}</span>Proposed Revision{{ num_proprev|pluralize }}</li>
            <li class="profile-summary-item"><span class="profile-summary-counter">{{ num_openq }}</span>Open Question{{ num_openq|pluralize }}</li>
            <li class="profile-summary-item"><span class="profile-summary-counter">{{ num_comment }}</span>Comment{{ num_comment|pluralize }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block modal_body %}
    <ul id="dummytab" class="nav nav-tabs" >
    <li class="active"><a id="profile-tab-details" href="#profile-details">Details</a></li>
    <li><a id="profile-tab-conversations" href="#profile-conversations">Conversations</a></li>
    </ul>
    <script language="javascript">
    $('#dummytab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
    </script>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="profile-details">
        <form id="profile-update-form">
        <div>
        {{ profile_form.as_p }}
        {% csrf_token %}
        </div>
        <div class="right">
            <p><label>Email Alerts</label></p>
            <ul class="email-preference-group">
                <li>{{ email_form.all_notifications }} All notifications</li>
            </ul>
            <ul class="email-preference-group">
                <li>{{ email_form.activity_all }} When there's activity on one of my:</li>
                <li>{{ email_form.activity_note }} Notes</li>
                <li>{{ email_form.activity_rev }} Revisions</li>
                <li>{{ email_form.activity_openq }} Open Questions</li>
                <li>{{ email_form.activity_comment }} Comments</li></li></li></li>
            </ul>
            <ul class="email-preference-group">
                <li>{{ email_form.er_all }} When there's activity on one of my:</li>
                <li>{{ email_form.er_revised }} Revised</li>
                <li>{{ email_form.er_updated }} Updated</li>
                <li>{{ email_form.er_published }} Published</li>
            </ul>
            <ul class="email-preference-group">
                <li>{{ email_form.new_members }} New members</li>
            </ul>
        </div>
        <div id="profile-update-form-buttons">
            <button type="button" id="profile-update-submit" action="{{ form_action }}" class="btn">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
        </form>
        </div>
        <div class="tab-pane fade" id="profile-conversations">
            <ul>
            {% for item in items %}
                <li class="profile-conv-item" id="profile-conv-{{ item.id }}">
                    <p class="profile-conv-line1">{{ item.ctype|upper }} | {{ item.age|upper }}</p>
                    <p class="profile-conv-context"><a href="javascript:annotation_init('{{ item.url }}');">{{ item.context }}</a></p>
                    <p class="profile-conv-line3">
                        rating 
                        {% if item.comments %}| {{ item.comments }} Comment{{ item.comments|pluralize }} {% endif %}
                    </p>
                </li>
            {% empty %}
                <li class="profile-conv-empty">No conversation</li>
            {% endfor %}
            </ul>
        </div>
    </div>{# tabbed content #}
{% endblock %}
