{% for news_item in news_items %}
    <li>
        <h4>
            <a target="_blank" href="{{ news_item.url }}">
                {{ news_item.title }}
            </a>
        </h4>
        <div class="news-authorjournalinfo all-caps text-gray1">
            {{ news_item.authorjournal }}
        </div>
        <div class="news-summary">
            <p class="two-line-preview">{{ news_item.preview|safe }}</p>
        </div>
        <div class="news-tags">
            {% for tag in news_item.tag_objects %}
                <span class="label text-blue4 bg-blue3 tag-filter " tag-value="{{ tag.tag_value }}" url="{{ tag_change_url }}">
                    {{ tag.tag_value }}
                </span>
            {% endfor %}
        </div>
        <div class="news-actions">
            {% include "rating_control.html" with comment=news_item.initial_comment %}
            <ul class="inline">
                <li>
                    <a class='news-comments-link' url="{% url 'news_comment' item_id=news_item.id %}">Comments</a>
                </li>
                <li>
                    {% include "follow_control.html" with comment=news_item.initial_comment %}
                </li>
                <li>
                    Share
                </li>
            </ul>
        </div>
        <div class="horisontal-separator"></div>
    </li>
{% endfor %}

    {% if more_to_show == True %}
    <li class="load_more_articles">
        <a class="btn news_load_more" url="{{ load_more_url }}">
            Show More Articles
        </a>
    </li>
    {% endif %}

