{% extends "modal.html" %}
{% block modal_header_classes %}has-back-btn{% endblock %}
{% block modal_header %}

    {% comment %}{# news item paging not yet implemented #}
    <div class="btn-group pull-right annotation-pager">
        <a class="btn js-prev annotation-page" incr="-1" target_el="current_annotation" aria-hidden="true" data-icon="&#xe01d;"></a>
        <span>
            <span id="current_annotation" num_news="{{ num_news }}" current_pos="{{ selected_annotation }}">
                {{ selected_annotation }}
            </span>
            | {{ num_news }}
        </span>
        <a class="btn js-next annotation-page" incr="1" target_el="current_annotation" aria-hidden="true" data-icon="&#xe019;"></a>
    </div>
    {% endcomment %}

    <h3 class="modal-title all-caps">
        <em>NEWS</em>
    </h3>
{% endblock %}
{% block modal_body %}
    <h4>{{ news_item.title }}</h4>
    <div>{{ news_item.preview|safe }}</div>

    <div class="news-actions">
        {% include "rating_control.html" with comment=head_comment %}
        <ul class="inline head-news-comment" id="news-comment-{{ head_comment.model_object.id }}">
            <li>
                <a class="newsitem-reply"
                   parent_id="news-comment-{{ head_comment.model_object.id }}"
                   reply_level="{{ head_comment.level }}"
                   reply_url="{% url 'news_reply' comment_id=head_comment.model_object.id %}">
                   Comment
                </a>
            </li>
            <li>
                {% include "follow_control.html" with comment=head_comment %}
            </li>
        </ul>
    </div>

    {% for comment in comments %}
    <div id="news-comment-{{ comment.model_object.id }}" class="level-{{comment.level}}">
        <div class="reply-comment" style="margin-left: {{ comment.level }}0px">
            <div class="annotation-comment-text">
                {{ comment.text|safe }}
            </div>
            <div class="annotation-comment-author">
                {{ comment.model_object.user.first_name }}
                {{ comment.model_object.user.last_name }} |
                {{ comment.timestamp | date }}
            </div>
            <div class="annotation-comment-actions">
            {% include "rating_control.html" with comment=comment %}
            |
            {% if comment.level == 0 %}
                {% if a.reply_count == 1 %}
                    One Reply |
                {% elif a.reply_count > 1 %}
                    {{ a.reply_count }} Replies |
                {% endif %}
            {% endif %}
            <a class="newsitem-reply"
               parent_id="news-comment-{{ comment.model_object.id }}"
               reply_level="{{ comment.level }}"
               reply_url="{% url 'news_reply' comment_id=comment.model_object.id %}">
                Reply
            </a>
            {% if comment.model_object.user != user %}
                | {% include "follow_control.html" with comment=comment %}
            {% endif %}
            {# | Share #}
            </div>
        </div>
    </div>
    {% endfor %}{# comments #}
{% endblock %}
