{% for news_item in news_items %}
    <li>
        <h1>
        <a target="_blank" href="{{ news_item.url }}">
            {{ news_item.title }}
        </a>
        </h1>
        <div class="news-summary">
            <a target="_blank" href="{{ news_item.url }}">
            <p>{{ news_item.preview|safe }}</p>
            </a>
        </div>
        <div class="news-authorjournalinfo">
            {{ news_item.authorjournal }}
        </div>
        <div class="news-tags">
            {% for tag in news_item.tag_objects %}
                <span class="label label-info tag-filter" tag-value="{{ tag.tag_value }}" url="{{ tag_change_url }}">
                    {{ tag.tag_value }}
                </span>
            {% endfor %}
        </div>
        <div class="news-actions">
            <a class='news-comments-link' url="{% url 'news_comment' item_id=news_item.id %}">Comments</a> |
            {% include "rating_control.html" with comment=news_item.initial_comment %}
            |
            {% include "follow_control.html" with comment=news_item.initial_comment %}
            |
            Share
        </div>
        <hr / >
    </li>
{% endfor %}

    {% if more_to_show == True %}
    <li class="load_more_articles">
        <a class="btn news_load_more" url="{{ load_more_url }}">
            Show More Articles
        </a>
    </li>
    {% endif %}

