{% extends "modal.html" %}
{% block modal_header %}
    
    <div class="btn-group pull-right annotation-pager">
        <a class="btn js-prev annotation-page" incr="-1" target_el="current_annotation" aria-hidden="true" data-icon="&#xe01d;"></a>
        <span>
            <span id="current_annotation" num_news="{{ num_news }}" current_pos="{{ selected_annotation }}">
                {{ selected_annotation }}
            </span>
            | {{ num_news }}
        </span>
        <a class="btn js-next annotation-page" incr="1" target_el="current_annotation" aria-hidden="true" data-icon="&#xe019;"></a>
    </div>

    <h3 class="modal-title all-caps">
        <em>NEWS</em>
    </h3>
{% endblock %}
{% block modal_body %}
    <div class="news-tag-list">
        {% if tags|length > 0 %}
            Tags:
            {% for tag in tags %}
                <span class="label label-info">
                    {{ tag }}
                    <span class="tag-filter-remove" tag-value="{{ tag }}" url="{% url 'news_index_tag_modal' tag='TAGS_HERE' %}">
                        x
                    </span>
                </span>
            {% endfor %}
            -
        {% endif %}
        {{ num_articles }} Article{{ num_articles|pluralize }}
    </div>
    <ul id="news-listing" class="news-listing">
        {% include "news_index.html" %}
    </ul>
    <div>
        Suggest Article
    </div>
{% endblock %}
