{% extends "modal.html" %}
{% block modal_header %}
    
    {% comment %}{# filtering by rating is not yet implemented #}
    <div class="pull-right">
        <form id="news-filter-select" method="post" action="">
            <ul class="inline">
                <li><label class="radio"><input checked="checked" name="sort_order" type="radio" value="contribution">Latest</label></li>
                <li><label class="radio"><input name="sort_order" type="radio" value="firstname">Highest Rated</label></li>
            </ul>
        </form>
    </div>
    {% endcomment %}

    <h3 class="modal-title all-caps">
        <em>NEWS</em>
    </h3>
{% endblock %}
{% block modal_body %}
    <div class="news-tag-list">
        {% if tags|length > 0 %}
            Tags:
            {% for tag in tags %}
                <span class="label label-info">
                    {{ tag }}
                    <span class="tag-filter-remove" tag-value="{{ tag }}" url="{% url 'news_index_tag_modal' tag='TAGS_HERE' %}">
                        x
                    </span>
                </span>
            {% endfor %}
            -
        {% endif %}
        {{ num_articles }} Article{{ num_articles|pluralize }}
    </div>
    <ul id="news-listing" class="news-listing">
        {% include "news_index.html" %}
    </ul>
    <div>
        Suggest Article
    </div>
{% endblock %}
