{% load humanize %}
        <li>
            <div class="notification-subject">
                {{ item.subject_user.first_name }} {{ item.subject_user.last_name }} {{ item.subject }}
            </div>
            <div class="notification-context">
                {% ifequal item.etype 'comment_annotation' %}
                    <a onclick="annotation_init('{{ item.url_json }}')">
                {% else %}
                    {% ifequal item.etype 'proprev_accepted' %}
                        <a onclick="annotation_init('{{ item.url_json }}')">
                    {% else %}
                        {% ifequal item.etype 'user' %}
                            <a onclick="myprofile_init('{{ item.url_json }}')">
                        {% else %}
                            {% ifequal item.etype 'comment_news' %}
                                <a onclick="news_comment_init('{{ item.url_json }}')">
                            {% else %}
                                <a href="{{ item.url }}">
                            {% endifequal %}
                        {% endifequal %}
                    {% endifequal %}
                {% endifequal %}
                {{ item.context|striptags }}
                </a>
            </div>
            <div class="notification-timestamp">
                {{ item.timestamp|naturaltime }}
            </div>
        </li>
