{% extends "singlecontainer.html" %}
{% block content_title %}Notifications{% endblock %}
{% block content %}
    <ul>
    {% for item in unread %}
        {% ifequal item.event.etype "er" %}
            {% if item.event.resource %}
                <li>{{item.event.resource.title}}</li>
            {% endif %}
        {% else %}{% ifequal item.event.etype "annotation" %}
            {% if item.event.resource %}
                <li>{{item.event.resource.atype}}</li>
            {% endif %}
        {% endifequal %}{% endifequal %}
    {% endfor %}
    </ul>
{% endblock %}

