{% for open_question in open_questions %}
    <p>{{ open_question.initial_comment.text|safe }}</p>
    <p>
    {% if open_question.doc_block == None %}
    <a class="openq-open" onclick="annotation_init('{% url 'annotation_one_of_all' doc_id=doc.id annotation_id=open_question.id %}')">Details</a>
    {% else %}
    <a class="openq-open" onclick="annotation_init('{% url 'annotation_one_in_block' doc_id=doc.id block_id=open_question.doc_block.tag_id annotation_id=open_question.id %}')">Details</a>
    {% endif %}
    </p>
    <div class="horizontal-separator"></div>
{% empty %}
    <p>No open questions.</p>
{% endfor %}
