{% extends "base.html" %}
{% block header %}{% endblock %}
{% block maincontent %}
<div class="printable-container">
    <div>
        <h2>Evidence Review</h2>
    </div>
    <h1>{{ doc.title }}</h1>
    <div class="author-names">
    {% for author in authors %}
        <span class="author-name">{{ author.name }}</span>{% if not forloop.last %},{% endif %}
    {% endfor %}
    </div>
    <div>
        Last Revision: {{ doc.revision_date|date:"F j, Y" }}
    </div> 

    <div class="paper-content-container">
    {{ main_document | safe }}

    {% comment %}
    <h1 id="open-questions">
        Open Questions
        <button type="button" onclick="annotation_compose_init('{% url 'annotation_compose' doc_id=doc.id atype='openq' %}')" class="btn add-new-btn">Add new</button>
    </h1>

    <div id="open-questions-container">{% include "open_questions.html" %}</div>
    {% endcomment %}

    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
