{% with id=comment.model_object.id %}
<span id="rating-c-{{id}}">
    {% if comment.user = user %}
        {# user's own comment -- do not allow clicks #}
        {{ comment.rating }}
    {% elif comment.user_rated_plus == False and comment.user_rated_minus == False %}
        {# user has not rated comment -- allow all clicks #}
        <a onclick="rating_add('{% url 'rate_minus' comment_id=id %}','rating-c-{{id}}')">-</a>
        {{ comment.rating }}
        <a onclick="rating_add('{% url 'rate_plus' comment_id=id %}','rating-c-{{id}}')">+</a>
    {% elif comment.user_rated_plus == True %}
        {# comment rated plus -- do not allow clicks #}
        {{ comment.rating }} [you thumbed up]
    {% else %}{# comment.user_rated_minus == False #}
        {# comment rated minus -- do not allow clicks #}
        {{ comment.rating }} [you thumbed down]
    {% endif %}
</span>
{% endwith %}
