<div class="compose-reply-inline">

    <h4>Your Reply:</h4>

    <form id="reply-compose-form">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}

    {% if form_type == "editor_reply" %}
        {{ form.approval.errors }}
        <div class="inline-radio">
        {{ form.approval }}
        </div>
    {% endif %}

    <div>
        {% if form.comment_text.errors %}
        {% for error in form.comment_text.errors %}
            <div class="form-error alert alert-error fade">
                <i class="icon-chevron-down"></i>
                {{ error|escape }}
            </div>
        {% endfor %}
        <script language="javascript">$('.form-error').addClass("in")</script>
        {% endif %}
        {# {{ form.comment_text.label }} #}
        {{ form.comment_text }}
    </div>

    <div class="reply-buttons">
        <button type="button" id="reply-submit" action="{{ form_action }}" class="btn">Submit</button>
        <button type="button" class="btn btn-default reply-close">Cancel</button>
    </div>
    </form>
    
    <hr />

</div>{# .compose-reply-inline #}
