<div class="level-{{ comment.level }}">
    <div class="reply-comment" style="margin-left: {{ comment.level }}0px">
        <div class="reply-comment-inline">
            <div class="annotation-comment-author">
                <ul class="inline">
                    {% if comment.model_object.user.first_name or comment.model_object.user.last_name %}
                    <li>{{ comment.model_object.user.first_name }} {{ comment.model_object.user.last_name }}</li>
                    {% endif %}
                    {% if comment.timestamp or date %}
                    <li>{{ comment.timestamp | date }}</li>
                    {% endif %}
                </ul>
            </div>
            <div class="annotation-comment-text">
                {{ comment.text|safe }}
            </div>
        </div>
    </div>
</div>
